In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from glob import glob

In [4]:
import itertools

In [5]:
import pygsheets as pyg

In [6]:
import time

#### some pandas opts

In [7]:
pd.options.display.max_columns = 100

In [8]:
pd.options.display.max_rows = 500

#### authorize pyg and set retry limit

In [9]:
gc = pyg.authorize(outh_file="./client_secret_986841527205-ndf6fbsfmrhjinnofm47j6olvmm11smn.apps.googleusercontent.com.json",
                   outh_nonlocal=True,
                   retries=5)

#### title for the google sheet and xls

In [10]:
sheet_name = "BY-nup133-day70"

#### xls output directory

In [11]:
xls_out_dir = "/home/dizak/Pulpit/BIONAS/G148/SNPs_calling/BY-nup133-day70/"

#### where are the files?

In [12]:
%ls /home/dizak/Pulpit/BIONAS/G148/SNPs_calling/

16 documents from consensus.geneious*
16 documents from WT-day70 to WT-zero point.geneious*
BY-day0/
BY-nup133-day70/
BY-WT-day70/
C2_merged_dfs.csv*
consensus/
mapped_contigs/
mapped_reads/
nup mapped to wt cons.geneious*
W303-cog7-day42/
W303-nup133-day42/
W303-WT-day42/
WT-day70/
WT-day70.xlsx*

In [13]:
sampling_levels = ["N1", "N2", "N3"]

In [14]:
strain_gene_day_N1_files = glob("/home/dizak/Pulpit/BIONAS/G148/SNPs_calling/BY-nup133-day70/N1/*csv")

In [15]:
strain_gene_day_N2_files = glob("/home/dizak/Pulpit/BIONAS/G148/SNPs_calling/BY-nup133-day70/N2/*csv")

In [16]:
strain_gene_day_N3_files = glob("/home/dizak/Pulpit/BIONAS/G148/SNPs_calling/BY-nup133-day70/N3/*csv")

#### get non-redundant list of genes in the inputfiles

In [17]:
def find_flat_value(inputfiles_list,
                    col_name = "CDS"):
    """
    Get flat list of desired values from list of CSV files.
    
    Parameters
    -------
    inputfiles_list: list of str
        List of input CSV files.
    col_name: str
        Desired column name in the input CSV file.
    
    Returns
    -------
    list of desired values.
    """
    values_list = []
    for i in inputfiles_list:
        df = pd.read_csv(i)
        if len(df) == 0:
            pass
        elif col_name not in df.columns:
            pass
        else:
            values_list.append(df[col_name].dropna().drop_duplicates().tolist())
    return list(itertools.chain.from_iterable(values_list))

#### get values from input files by key

In [18]:
def find_by_key(inputfiles_list,
                key):
    """
    Get pandas.DataFrame selected by a given key from list of CSV files.
    
    Parameters
    -------
    inputfiles_list: list of str
        List of input CSV files.
    key: str, int, float, bool
        Key used as query against rows in the CSV files.
    value_col: str
        Column name which holds values to be returned.
    
    Returns
    -------
    dict of lists of desired values if pandas.Dataframe not empty
    None if pandas.DataFrame empty
    """
    values_list = []
    for i in inputfiles_list:
        filename = "".join(i.split("/")[-1].split(".")[:-1])
        df = pd.read_csv(i)
        if len(df) == 0:
            pass
        else:
            if isinstance(key, str) == True:
                df_dtype_sel = df.select_dtypes(include=["object"])
            elif isinstance(key, int) == True:
                df_dtype_sel = df.select_dtypes(include=["int"])
            elif isinstance(key, float) == True:
                df_dtype_sel = df.select_dtypes(include=["float"])
            elif isinstance(key, bool) == True:
                df_dtype_sel = df.select_dtypes(include=["bool"])
            else:
                raise ValueError("key must str, int, float or bool dtype")
            for col in df_dtype_sel.columns:
                df_sel = df[df_dtype_sel[col] == key]
                if len(df_sel) > 0:
                    return {"dataframe": df_sel,
                            "filename": filename}

#### get whole set of pandas.DataFrames selections in one dict

In [19]:
def get_dfs_set(key_list,
                files_list,
                vals=["Minimum",
                      "Maximum",
                      "Change"],
                df_key="dataframe",
                key_index_name="Gene",
                smpl_index_name="Sample",
                row_index_name="Number",
                index_by_key=True,
                smpl_index_val=None,):
    """
    Get desired values in pandas.Dataframe gathered in dict by
    the list of keys.
    
    Parameters
    -------
    key_list: list, tuple
        List of keys by which pandas.Dataframes are
        initially selected.
    files_list: list, tuple
        List of input CSV files.
    vals: list of str, default: ["Minimum", 
                                 "Maximum",
                                 "Change"]
        Columns names holding data in pandas.DataFrames
        selected.
    df_key: str, default: <"dataframe">
        Key for generic pandas.DataFrame selection for
        SNPs-sheets_merge.find_by_key function.
    key_index_name: str, default: <"Gene">
        Name for index of selection key.
    smpl_index_name: str, default: <"Sample">
        Name for index of sample.
    row_index_name: str, default: <"Number">
        Name for numeric row index.
    index_by_key: bool, default: True
        Enables multiindexing.
    smpl_index_val: str, default: <None>
        Adds sample name to multiindexing if not <None>
    """
    out_dict = {}
    for i in key_list:
        key_vals = find_by_key(files_list,
                               key=i)[df_key]
        out_dict[i] = key_vals[vals]
    if index_by_key is True:
        for i in out_dict:
            key_index = [i] * len(out_dict[i])
            if smpl_index_val is not None:
                smpl_index = [smpl_index_val] * len(out_dict[i])
                tpls = list(zip(*[key_index,
                                  smpl_index,
                                  out_dict[i].index]))
                mindex = pd.MultiIndex.from_tuples(tpls,
                                                   names=[key_index_name,
                                                          smpl_index_name,
                                                          row_index_name])
            else:
                tpls = list(zip(*[key_index,
                                  out_dict[i].index]))
                mindex = pd.MultiIndex.from_tuples(tpls,
                                                   names=[key_index_name,
                                                          row_index_name])
            out_dict[i].index = mindex
    return out_dict

#### merge any given number of dfs

In [20]:
def merge_dfs(dfs,
              sort_cols=["Minimum",
                         "Maximum"],
              reconstr_index=True):
    """
    Merge any number of pandas.DataFrame into one.
    Indexes must be identical in all the pandas.DataFrames.
    
    Parameters
    -------
    dfs: list
        list of pandas.DataFrames to merge.
    sort_cols: list, None
        list of col names to sort the final
        pandas.DataFrame by. No sorting if None.
    """
    for x in [set(i.index) for i in dfs]:
        assert len(x) == 1, "Indices are not homogenic."
    new_index = list(x)
    df = reduce(lambda df1, df2: pd.merge(left=df1,
                                          right=df2,
                                          how="outer"),
                dfs)
    if sort_cols is not None:
        df.sort(columns=sort_cols)
    if reconstr_index is True:
        df.index = len(df) * new_index
    return df

#### let's find out which CDS are present in all the files one by one

In [21]:
strain_gene_day_N1_CDSs = find_flat_value(strain_gene_day_N1_files)
strain_gene_day_N2_CDSs = find_flat_value(strain_gene_day_N2_files)
strain_gene_day_N3_CDSs = find_flat_value(strain_gene_day_N3_files)

#### let's gather some info about each of the CDS from each sample

In [22]:
strain_gene_day_N1_dfs = get_dfs_set(strain_gene_day_N1_CDSs,
                                     strain_gene_day_N1_files,
                                     smpl_index_val=sampling_levels[0])
strain_gene_day_N2_dfs = get_dfs_set(strain_gene_day_N2_CDSs,
                                     strain_gene_day_N2_files,
                                     smpl_index_val=sampling_levels[1])
strain_gene_day_N3_dfs = get_dfs_set(strain_gene_day_N3_CDSs,
                                     strain_gene_day_N3_files,
                                     smpl_index_val=sampling_levels[2])

#### let's unwind them all from this dict into lists

In [23]:
N1_dfs = [strain_gene_day_N1_dfs[i] for i in strain_gene_day_N1_dfs.keys()]
N2_dfs = [strain_gene_day_N2_dfs[i] for i in strain_gene_day_N2_dfs.keys()]
N3_dfs = [strain_gene_day_N3_dfs[i] for i in strain_gene_day_N3_dfs.keys()]

#### let's merge them to see changes between samples.
#### rememeber now cannot use the merge_dfs function since multindex is NOT homogenic

In [24]:
N1_df = reduce(lambda df1, df2: pd.concat([df1, df2]),
                N1_dfs)

In [25]:
N2_df = reduce(lambda df1, df2: pd.concat([df1, df2]),
               N2_dfs)

In [26]:
N3_df = reduce(lambda df1, df2: pd.concat([df1, df2]),
               N3_dfs)

In [27]:
N1_N2_N3_df = reduce(lambda df1, df2: pd.concat([df1, df2]),
                     [N1_df, N2_df, N3_df])

In [28]:
N1_N2_N3_df

                                        Minimum  Maximum        Change
Gene                     Sample Number
MTL1 CDS                 N1     0        530038   530038        M -> C
DAN4 CDS                 N1     4        715015   715015        T -> G
                                5        715003   715003        T -> G
                                6        714979   714979        C -> G
SWI1 CDS                 N1     8        521046   521046        W -> A
                                9        521039   521039        M -> A
                                10       521036   521036        M -> A
                                11       521034   521034        W -> A
                                12       521031   521031        W -> A
                                13       521027   521027        W -> A
                                14       521024   521024        W -> A
                                15       521018   521019      MK -> AT
                                16       521014   521015      WW -> TT
                                17       521008   521010    SAW -> GAT
FLO11 CDS                N1     0        392337   392337        C -> G
                                1        392322   392322        C -> G
                                2        392087   392087        G -> T
                                3        391197   391197        G -> A
hypothetical protein CDS N1     6        475850   475850        T -> G
                                7        475842   475843      CA -> TG
                                8        475837   475840  AACA -> TCAT
                                9        475834   475835      GT -> CA
                                10       475827   475830  CTAA -> ATTT
FLO9 CDS                 N1     2         26497    26497        G -> A
                                3         26492    26492        C -> T
                                4         26479    26479        T -> A
                                5         26476    26476        G -> A
                                6         26473    26474      AG -> GC
                                7         26468    26470    GCA -> ATG
                                8         26464    26464        C -> T
                                9         25821    25822      TG -> CA
                                10        25817    25817        C -> T
                                11        25804    25804        T -> A
                                12        25801    25801        G -> A
                                13        25799    25799        S -> C
                                14        25794    25794        Y -> T
IRA2 CDS                 N1     0        177352   177351  (G)3 -> (G)4
MDM1 CDS                 N1     3         62316    62316        A -> T
SAN1 CDS                 N1     0        742965   742965        C -> T
NUP133 CDS               N1     0        593290   593290        G -> T
                                1        593286   593287      GC -> AT
                                2        593282   593284    GTT -> TTA
                                3        593278   593280    AAA -> CTT
                                4        593273   593275    TAA -> ACT
                                5        593271   593271        T -> A
                                6        593267   593268      CT -> TC
                                7        593264   593264        G -> C
                                8        593260   593261      AG -> TC
                                9        593255   593257    ATT -> GAG
                                10       593252   593253      TA -> AC
                                11       593249   593250      TT -> GC
                                12       593243   593245    TGG -> GGA
                                13       593240   593240        G -> T
                                14       593232   593232        T -> A
                                15       593225   593225        A -> G
                                16       593222   593222        K -> G
                                17       593217   593216            +G
RCY1 CDS                 N1     18        50664    50664        W -> A
                                19        50657    50657        T -> G
RSC30 CDS                N2     10       216122   216122        C -> T
MTL1 CDS                 N2     0        530038   530038        M -> C
WHI2 CDS                 N2     2        411549   411549        C -> T
FLO11 CDS                N2     0        392099   392099        A -> T
                                1        391197   391197        G -> A
hypothetical protein CDS N2     0        623079   623079        G -> A
FLO9 CDS                 N2     1         26492    26492        C -> T
                                2         26474    26474        G -> C
                                3         26469    26470      CA -> TG
                                4         26464    26464        C -> T
                                5         26458    26458        T -> C
                                6         26455    26455        A -> G
                                7         26444    26444        T -> G
                                8         26440    26441      GT -> AC
                                9         25713    25713        G -> C
HPF1 CDS                 N2     3         31133    31133        K -> T
MDM1 CDS                 N2     0         62316    62316        A -> T
NUP133 CDS               N2     0        593251   593251        C -> T
                                1        593243   593243        T -> G
                                2        593240   593240        G -> T
                                3        593232   593232        T -> A
                                4        593225   593225        A -> G
                                5        593222   593222        K -> G
                                6        593217   593216            +G
MTL1 CDS                 N3     0        530038   530038        M -> C
                                1        530020   530020        C -> A
SWI1 CDS                 N3     0        521046   521046        W -> A
                                1        521039   521039        M -> A
                                2        521036   521036        M -> A
                                3        521034   521034        W -> A
                                4        521031   521031        W -> A
                                5        521027   521027        W -> A
                                6        521024   521024        W -> A
                                7        521018   521019      MK -> AT
                                8        521014   521015      WW -> TT
                                9        521008   521010    SAW -> GAT
FLO11 CDS                N3     0        391590   391590        C -> G
                                1        391197   391197        G -> A
hypothetical protein CDS N3     1        623079   623079        G -> A
FLO9 CDS                 N3     1         25848    25848        A -> C
HPF1 CDS                 N3     1         31133    31133        K -> T
NUP133 CDS               N3     0        593240   593240        G -> T
                                1        593232   593232        T -> A
                                2        593222   593222        K -> G
                                3        593217   593216            +G
RCY1 CDS                 N3     6         50664    50664        W -> A

#### let's make xls

In [29]:
writer = pd.ExcelWriter("{}/{}.xls".format(xls_out_dir, sheet_name))

In [30]:
for i in set(strain_gene_day_N1_CDSs +
             strain_gene_day_N2_CDSs +
             strain_gene_day_N3_CDSs):
    N1_N2_N3_df.xs(i).to_excel(excel_writer=writer,
                               sheet_name=i)

In [31]:
writer.save()

#### let's make sheet on gdrive

In [32]:
sh = gc.create(sheet_name)

In [33]:
for i in set(strain_gene_day_N1_CDSs +
             strain_gene_day_N2_CDSs +
             strain_gene_day_N3_CDSs):
    time.sleep(3)
    wks = sh.add_worksheet(i)
    wks.set_dataframe(N1_N2_N3_df.xs(i),
                      (1, 1),
                      copy_index=True,
                      fit=True)